<h1>Was tut diese Seite?</h1>
<p>Der Lizenzverweisgenerator soll helfen, Bilder von Wikimedia Commons und Wikipedia einfach und legal nachzunutzen.</p>

<h1>Wie das?</h1>
<p>Die meisten der mehr als 25 Millionen Bilder, die im freien Medienarchiv Wikimedia Commons zur Weiternutzung zur Verfügung stehen, wurden von ihren Urhebern unter so genannten freien Lizenzen veröffentlicht. Im Gegensatz zum konventionellem Urheberrecht erlauben es diese Lizenzen, dass die betreffenden Bilder unter bestimmten Bedingungen kopiert, verändert und wieder veröffentlicht werden können. Um die Erfüllung dieser Bedingungen zu erleichtern, trägt der Lizenzverweisgenerator alle Informationen zusammen, die zwingend mit dem betreffenden Bild veröffentlicht werden müssen. Dies ist der so genannte Lizenzverweis.</p>

<h1>Warum das?</h1>
<p>Viele Bilder von Wikipedia und ihren Schwesterprojekten (z.B. Wikimedia Commons) sind urheberrechtlich geschützt. Die Urheber haben Rechte, die ihnen erlauben zu bestimmen, wer wann was mit diesen Bildern machen darf. Damit ihre Bilder auf die Server des Wikipedia-Betreibers geladen werden können, müssen sie einer Weiterverbreitung zustimmen. Allerdings dürfen sie an die Benutzung der Bilder Bedingungen knüpfen. Zu diesen Bedingungen zählt u.a. das Recht, als Urheber genannt zu werden. 
<br>
Es kann manchmal herausfordernd sein, alle diese Bedingungen so einzuhalten, wie der Text der Lizenzbedingungen es verlangt. Dies möchten wir mit dem Lizenzverweisgenerator vereinfachen.</p>

<h1>Welche Lizenzen werden unterstützt?</h1>
Diese Anwendung unterstützt folgende Lizenzen:
<span class="app-supportedLicences">
	<!-- Supported Licences will be inserted here automatically. -->
</span>

<hr/>

<p>Diese Seite dient der Entwicklung eines Werkzeuges für die legale
Nachnutzung von bestimmten urheberrechtlich geschützten Bildern. Sie
kann niemals alle möglichen Anwendungsfälle und Besonderheiten
abdecken und ersetzt in keinem Fall die qualifizierte juristische
Beratung durch einen Anwalt.<br />
Die hier angebotenen Informationen dienen zur Erleichterung der
Recherche und sollten zum gegenwärtigen Zeitpunkt nicht ungeprüft
übernommen werden. Bitte verwenden Sie dieses Werkzeug nicht für
andere Zwecke als zur Weiterentwicklung und zum Testen.</p>
