<h1>Wem stelle ich meine Frage?</h1>

<p>Wir freuen uns über jede Art von Rückmeldung an:</p>

<p>Wikimedia Deutschland<br />
Bildung, Wissenschaft & Kultur
Tempelhofer Ufer 23-24<br />
10963 Berlin<br />
E-Mail: <a href="mailto:politik@wikimedia.de">politik@wikimedia.de</a>

<h1>Ich habe einen Fehler gefunden!</h1>

<p>Das freut uns! Denn das bedeutet, dass wir diesen Fehler beheben können. Bitte sagen Sie uns Bescheid, was nicht so funktioniert hat wie gedacht, entweder per E-Mail an politik@wikimedia.de oder auf der
<a href="https://github.com/wmde/file-reuse/issues?state=open">Entwicklerplattform</a>.
</p>
